@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');

$body-bg: #5DAA68;
$body-color: #FAF1CF;


body {
  background-color: $body-bg;
  font-family: 'Inknut Antiqua', serif;
  nav {
    color:$body-color;
  }
}